<tr>
    <td>
        <div class="article">
            <div class="media">
                <div class="pull-left">
                    <a href="/u/{{_user.username}}" ><img class="media-object touxiang" src="{{gravatar _user.email}}"></a>
                </div>
                <div class="media-body article-cell">
                    <span class="media-heading">
                        <!--<span class="label label-primary">置顶</span>-->
                        {{#if up}} <span class="label label-primary">置顶</span>{{/if}}
                        {{#if recommend}} <span class="label label-success">推荐</span>{{/if}}
                        <a href="/p/{{id}}" title="{{title}}">{{title}}</a>
                    </span>
                      <span class="label label-default">
                            <span class="ds-thread-count" data-thread-key="{{_id}}" data-count-type="comments"></span>/<span title="点击数">{{views}}</span>
                        </span>
                    <span class="pull-right time-from-now">{{timeFromNow created_time}}</span>
                </div>
            </div>
        </div>
    </td>
</tr>