<tr>
    <td>
        <div class="article">
            <div class="media">
                <div class="pull-left">
                    <a href="/u/{{_user.username}}" ><img
                            class="media-object touxiang" src="{{gravatar _user.email}} " data-user="{{_user.id}}"></a>
                </div>
                <div class="media-body article-cell">
                    <span class="media-heading">
                        <!--<span class="label label-primary">置顶</span>-->
                        {{#if up}} <span class="label label-primary">置顶</span>{{/if}}
                        {{#if recommend}} <span class="label label-success">推荐</span>{{/if}}
                        {{#equals type '原创'}}
                            <span class="label label-info">原创</span>
                            {{#ge views 100}}
                                <i class="fa fa-fire text-red" title="阅读量大于100会点亮小图标"></i>
                            {{/ge}}
                             <a href="/p/{{id}}"
                                title="作者: {{_user.username}} 编辑于 {{timeFromNow updated_time}}">{{title}}</a>
                            <span class="label label-default">
                            <span title="评论数" class="ds-thread-count" data-thread-key="{{_id}}"
                                  data-count-type="comments"></span>/<span title="点击数">{{views}}</span>
                        </span>
                        {{/equals}}
                        {{#equals type '分享'}}
                            <span class="label label-warning">分享</span>
                            <a href="{{url}}" target="_blank"
                               title="作者: {{_user.username}} 编辑于 {{timeFromNow updated_time}}">{{title}}</a>

                        {{/equals}}
                    </span>
                    <span class="pull-right time-from-now text-right  small">
                        {{timeFromNow created_time}}
                        {{#if source}}
                            <div class="text-light">来自 {{source}}</div>
                        {{/if}}
                    </span>
                </div>
            </div>
        </div>
    </td>
</tr>