<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li class="active">{{article.title}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="post">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="{{gravatar article._user.email}}"
                                 alt="user image">
                            <span class="username">
                              <a href="/p/{{article._id}}">{{article.title}}</a>
                            </span>
                            <span class="description">
                                <strong>
                                    <span class="">
                                        <a href="/u/{{article._user.username}}">{{article._user.username}}</a>
                                    </span>
                                </strong>
                                <small>
                                    发表于 {{timeFromNow article.created_time}}
                                    |
                                    {{article.views}} 次浏览
                                    |
                                    <a href="#comment">{{article.children.length}}</a> 次评论
                                </small>
                                {{#equals article._user.username session.passport.user.username}}
                                    <small class="pull-right">
                                        <a href="/dashboard/p/edit/{{article._id}}">编辑</a>
                                    </small>
                                {{/equals}}

                            </span>
                        </div>
                        <div>
                            {{{article.html}}}
                        </div>

                    </div>
                    <ul class="list-inline w">
                        <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> 分享</a>
                        </li>
                        <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> 喜欢</a>
                        </li>
                        <li class="pull-right">
                            <a href="#comment" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i>
                                评论
                                (5)
                            </a>
                        </li>
                    </ul>


                </div>

                <div class="box-footer box-comments">
                    {{#each article.children}}
                        <div class="box-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="{{gravatar _user.email}}" alt="User Image">

                            <div class="comment-text">
                              <span class="username">
                                <a href="/u/{{_user.username}}">{{_user.username}}</a>
                                  <span class="text-muted pull-right">{{timeFromNow created_at}}</span>
                              </span><!-- /.username -->
                                {{{content}}}
                            </div>
                            <!-- /.comment-text -->
                        </div>
                    {{/each}}
                </div>
                {{#if session.passport.user}}
                    <div class="box-footer" id="comment">
                        <form action="/p/{{article._id}}/comment" method="post">
                            <img class="img-responsive img-circle img-sm" src="{{gravatar session.passport.user.email}}"
                                 alt="Alt Text">
                            <div class="img-push">
                                <input class="form-control input-sm" placeholder="回车提交评论"
                                       type="text" name="content">
                            </div>
                        </form>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h2 class="widget-user-username">{{article._user.username}}
                        <small style="color: #ffffff; font-size: 10px;">
                            <b>{{timeFromNow article._user.created_time}}</b> 加入本站
                        </small>
                    </h2>
                    <h5 class="widget-user-desc">{{article._user.job}}</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{gravatar article._user.email}}" alt="User Avatar">
                </div>
                <div class="box-footer">

                    <div class="text-center margin small">{{article._user.signature}}</div>
                    <hr>
                    <dl>
                        <dt>他的主页</dt>
                        <dd><a href="{{article._user.website}}" target="_blank">{{article._user.website}}</a></dd>
                    </dl>
                    <dl>
                        <dt>他的Github</dt>
                        <dd><a href="{{article._user.github}}" target="_blank">{{article._user.github}}</a></dd>
                    </dl>
                    <dl>
                        <dt>他的热门文章</dt>
                        <ol style="margin-left: -15px;">
                            {{#each userHotArticles}}
                                <li>
                                    <a href="/p/{{_id}}" class="text-over">{{title}}</a>
                                </li>
                            {{/each}}
                        </ol>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
