<!-- Content Header (Page header) -->
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页 </a></li>
        <li class="active">{{article.title}}</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="post">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="{{gravatar article._user.email}}"
                                 alt="user image">
                            <span class="username">
                              <a href="/p/{{article._id}}">{{article.title}}</a>
                            </span>
                            <span class="description">
                                <strong>
                                    <span class="">
                                        <a href="/u/{{article._user.username}}" >{{article._user.username}}</a>
                                    </span>
                                </strong>
                                <small>
                                    发表于 {{timeFromNow article.created_time}}
                                    |
                                    {{article.views}} 次浏览
                                </small>



                            </span>
                        </div>
                        <div>
                            {{{article.html}}}
                        </div>
                        <ul class="list-inline">
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a>
                            </li>
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                                <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i>
                                    Comments
                                    (5)
                                </a>
                            </li>
                        </ul>
                        <input class="form-control input-sm" placeholder="Type a comment" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">{{article._user.username}}</h3>
                    <h5 class="widget-user-desc">{{article._user.job}}</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{gravatar article._user.email}}" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <table class="table table-condensed">
                                    <tr>
                                        <th>
                                            他的热门文章
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">文章一</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">文章一</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">文章一</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">文章一</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
