<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-aqua-active">
        <h2 class="widget-user-username">{{article._user.username}}
            <small style="color: #ffffff; font-size: 10px;">
                <b>{{timeFromNow article._user.created_time}}</b> 加入本站
            </small>
        </h2>
        <h5 class="widget-user-desc">{{article._user.job}}</h5>
    </div>
    <div class="widget-user-image">
        <img class="img-circle" src="{{gravatar article._user.email}}" alt="User Avatar">
    </div>
    <div class="box-footer">

        <div class="text-center margin small">{{article._user.signature}}</div>
        <hr>
        <dl>
            <dt>他的主页</dt>
            <dd><a href="{{article._user.website}}" target="_blank">{{article._user.website}}</a></dd>
        </dl>
        <dl>
            <dt>他的Github</dt>
            <dd><a href="{{article._user.github}}" target="_blank">{{article._user.github}}</a></dd>
        </dl>
        <dl>
            <dt>他的热门文章</dt>
            <ol style="margin-left: -15px;">
                {{#each userHotArticles}}
                    <li>
                        <a href="/p/{{_id}}" class="text-over">{{title}}</a>
                        <small title="{{views}} 次查看" class="pull-right">({{views}})</small>
                    </li>
                {{/each}}
            </ol>
        </dl>
    </div>
</div>
